# MSSQL (외부 EMS DB)
MSSQL_USERNAME=
MSSQL_PASSWORD=
MSSQL_URL=jdbc:sqlserver://<host>:<port>;databaseName=<db>;encrypt=false

# PostgreSQL
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_URL=jdbc:postgresql://<host>:<port>/<db>

# InfluxDB
INFLUXDB_TOKEN=
INFLUXDB_INIT_USERNAME=
INFLUXDB_INIT_PASSWORD=

# API
API_KEY=
