# InfluxDB 설정
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

# Spring 서버 설정
SPRING_URL=
SPRING_HOST=
SPRING_PORT=


# FastAPI 설정
API_HOST=
API_PORT=

# LSTM 설정
LSTM_INPUT_SIZE=
LSTM_HIDDEN_SIZE=
LSTM_NUM_LAYERS=
LSTM_OUTPUT_SIZE=
LSTM_DROPOUT=

# 예측 설정
PREDICTION_NUM=
PREDICTION_INTERVAL_HOURS=
PREDICTION_INTERVAL_MINUTES=
